# ignore object files
*.o
*.d
*.so
# ignore executables
analysis
createMiniNtuples
BaseClass.h
BaseClass.cxx
submit_analysis
compare_CN_versions
compare_fit_results
jet_energy_scale
systematics
test
plotter
merger
fitter
plot_results
xsect_philipp_XMLconverter
allvar.txt
allvarDATA.txt
allvarMC.txt
reweight_et
result_plotter
