# ignore object files
*.o
*.d
*.so
# ignore executables
analysis
createMiniNtuples
BaseClass.h
BaseClass.cxx
submit_analysis
compare_CN_versions
compare_fit_results
jet_energy_scale
systematics
test
plotter
merger
fitter
plot_results
xsect_philipp_XMLconverter
allvar.txt
allvarDATA.txt
allvarMC.txt
reweight_et
result_plotter
result_printer
# other files that might be changed
# with no need to track this
plot.cxx
env.sh
lhapdf-5.8.7
lhapdf
hvq.x
hvqdis_predictions_into_XML
go
f2bc
correction_printer
Massimo
txt2XML
quick_plot
trash
reweighting
correct_qed
inp
plot_charm_reduced
hadronic_corrections
