# newplot q2da
Q2da            5.0         1000.0
#  newplot2D q2_et_1
Q2da            5.0         10.0
etjet           4.2         8
#
Q2da            5.0         10.0
etjet           8           11
#
Q2da            5.0         10.0
etjet           11          14
#
Q2da            5.0         10.0
etjet           14          35
#  newplot2D q2_et_2
Q2da            10.0        20.0
etjet           4.2         8
#
Q2da            10.0        20.0
etjet           8           11
#
Q2da            10.0        20.0
etjet           11          14
#
Q2da            10.0        20.0
etjet           14          35
#  newplot2D q2_et_3
Q2da            20.0        40.0
etjet           4.2         8
#
Q2da            20.0        40.0
etjet           8           11
#
Q2da            20.0        40.0
etjet           11          14
#
Q2da            20.0        40.0
etjet           14          35

#  newplot2D q2_et_4
Q2da            40.0        70.0
etjet           4.2         8
#
Q2da            40.0        70.0
etjet           8           11
#
Q2da            40.0        70.0
etjet           11          14
#
Q2da            40.0        70.0
etjet           14          35

#  newplot2D q2_et_5
Q2da            70.0        120.0
etjet           4.2         8
#
Q2da            70.0        120.0
etjet           8           11
#
Q2da            70.0        120.0
etjet           11          14
#
Q2da            70.0        120.0
etjet           14          35

#  newplot2D q2_et_6
Q2da            120.0       1000.0
etjet           4.2         14
#
Q2da            120.0       1000.0
etjet           14          35
# newplot et
etjet           4.2         8.0
#
etjet           8.0         11.0
#
etjet           11.0        14.0
#
etjet           14.0        17.0
#
etjet           17.0        20.0
#
etjet           20.0        25.0
#
etjet           25.0        35.0
# newplot q2
Q2da            5.0         10.0
#
Q2da            10.0        20.0
#
Q2da            20.0        40.0
#
Q2da            40.0        70.0
#
Q2da            70.0        120.0
#
Q2da            120.0       200.0
#
Q2da            200.0       400.0
#
Q2da            400.0       1000.0
